# Context
The file contains over 11,000 tweets associated with disaster keywords like “crash”, “quarantine”, and “bush fires” as well as the location and keyword itself. The data structure was inherited from Disasters on social media

The tweets were collected on Jan 14th, 2020.

Some of the topics people were tweeting:

The eruption of Taal Volcano in Batangas, Philippines

Coronavirus

Bushfires in Australia

Iran downing of the airplane flight PS752

Disclaimer: The dataset contains text that may be considered profane, vulgar, or offensive.

In [1]:
! unzip Twitter.zip

Archive:  Twitter.zip
  inflating: tweets.csv

In [2]:
import nltk
import pandas as pd

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/khal-drog0/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [45]:
df = pd.read_csv('tweets.csv')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11370 entries, 0 to 11369
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        11370 non-null  int64
 1   keyword   11370 non-null  object
 2   location  7952 non-null   object
 3   text      11370 non-null  object
 4   target    11370 non-null  int64
dtypes: int64(2), object(3)
memory usage: 444.3+ KB

In [47]:
df.head(15)

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0
5,5,ablaze,OC,"If this child was Chinese, this tweet would ha...",0
6,6,ablaze,"London, England",Several houses have been set ablaze in Ngemsib...,1
7,7,ablaze,Bharat,Asansol: A BJP office in Salanpur village was ...,1
8,8,ablaze,"Accra, Ghana","National Security Minister, Kan Dapaah's side ...",0
9,9,ablaze,Searching,This creature who’s soul is no longer clarent ...,0
10,10,ablaze,NaN,Images showing the havoc caused by the #Camero...,1
11,11,ablaze,NaN,Social media went bananas after Chuba Hubbard ...,0
12,12,ablaze,NaN,Hausa youths set Area Office of Apapa-Iganmu L...,1
13,13,ablaze,HYDERABAD,Under #MamataBanerjee political violence &amp;...,1
14,14,ablaze,"Reno, NV","AMEN! Set the whole system ablaze, man. https:...",0

In [48]:
len(df.text)

11370

In [49]:
df.text[14]

'AMEN! Set the whole system ablaze, man. https://t.co/J08xHDcGbD'

In [50]:
import re

In [65]:
df['text'] = df['text'].apply(lambda text : re.sub(r'https\S+', '', text))
df.text[14]

'AMEN! Set the whole system ablaze, man. '

In [68]:
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642"
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'', text)

df['text'] = df['text'].apply(deEmojify)

In [73]:
def get_data(data):
    df['text'] = df['text'].replace(regex = '^a-zA-Z0-9 @ #', value = '')

In [74]:
get_data(df)

In [75]:
df.head()

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0